/* content */
main {
  display: flex;
  padding: 3rem 10%;
  background-color: var(--celadon);
}

form {
  flex-direction: column;
  display: inline-flex;
}

.contact {
  padding: 1rem 1rem;
  background-color: var(--honey);
  color: var(--prussian);
  flex-direction: column;
  min-width: 90%;
  display: flex; /* to the right (1D)*/
  align-items: center;
  margin: auto;
  border-radius: 1.5rem;
  justify-content: space-between;
}

.input-group {
  position: relative;
  min-width: 600;
  margin: 1rem 1rem;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 1rem;
  margin-left: 30px;
}

textarea {
  margin-left: 30px;
  font-family: "Signika", sans-serif;
  min-height: 3rem;
  min-width: 30%;
}

div #button-container {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div #button-container button {
  position: relative;
  margin-right: 10px;
  background-color: var(--prussian);
  border-radius: 2rem;
  color: var(--honey);
}

@media (max-width: 600px) {
  .input-group {
    position: relative;
    padding: 0.5rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  input {
    margin-top: 10px;
    margin-left: 0px;
  }

  textarea {
    margin-top: 0.8rem;
    font-family: "Signika", sans-serif;
    min-height: 3rem;
    min-width: 30%;
    margin-left: 0;
  }

  .contact {
    max-width: fit-content;
  }
}

