
h1 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1rem;
}

section {
  margin: 0px 10px 50px 10px;
}

article {
  margin-top: 20px;
  text-decoration: none;
}

article img{
    max-width: 120px;
}

h4 {
  margin: 5px 0;
}

p {
  margin: 5px 0;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 350px;
}
main{
  margin-top: 10rem;
}
#download-pdf {
  position: absolute;
  top: 15px;
  right: 15px;
  text-decoration: none;
}

#main-container {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  margin-top: 0;
  background-color: var(--celadon);
  /* max-width: 1440px; */
}

#main {
  min-width: 400px;
  max-width: 900px;
  background-color: var(--honey);
  color: var(--prussian);
  border-radius: 10px;
  position: relative;
}

@media (max-width: 600px) {
  #main {
    min-width: 300px;
    max-width: 400px;
    padding: 50px 10px;
    background-color: var(--honey);
    color: var(--prussian);
    border-radius: 10px;
    position: relative;
  }
}
