/* content */

main { 
  flex-direction: column;
  display: flex;
  background-color: var(--celadon);
  justify-content: center;
}

#main-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin: auto;
}

div#sub-main-container {
  background-color: var(--honey);
  border-radius: 2rem;
  max-width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

div#main {
  padding: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  color: var(--prussian);
}

h1 {
  display: flex;
  justify-content: center;
  color: var(--prussian);
  margin: 1rem;
}

section#undefined {
  margin: 0.2rem 0.5rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
li{
  font-weight: normal;
}
h2,
p,
figcaption {
  text-align: center;
  padding: 0 10%
}
img,
iframe {
  display: block;
  margin: auto;
  border-radius: 1rem;
  max-width: 40%;
  height: auto;
}

section#home-server,
section#the-virtual-coach-prototype {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0, auto;
  padding-top: 1rem;
}

/* footer */
footer{
  margin-top: 3rem;
  background-color: var(--honey);
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  
}
footer div{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div a{
  text-decoration: none;
  padding-top: 1.5rem;
  margin: 0 1rem ;
}

footer p{
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: black;
  line-height: 2rem;
}

footer p a{
  text-decoration: none;
  color: black;
}

footer div a img{
  max-width: 100%;
}

/* helper for flex down in body*/
@media (max-width: 600px) {
  #main{
    margin:auto;
  }
  
  img,
  iframe {
    padding: 0.5rem 0.2rem;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
  h2,
  p,
  figcaption {
    text-align: center;
    padding: 0 0;
  }
}
