html {
  scroll-behavior: smooth;
  background-color: #6B705C;

}

nav {
  background-color: #F1FAEE;
}

h1, h2,h3, h4, p{
  text-align: center;
  margin: 10px 20px;
}

/* content */
main{
  display: flex;
  padding: 10px 10%;
  margin: auto;
  background-color: var(--celadon);
}

.about-me{
  position: relative;
  color: #f1faee;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.about-me p {
  font-size: 1.1rem;
  line-height: 1.5rem;

}

.profile-photo{
  position: relative;
  padding: 2rem;
}
.headshot{
  border-radius: 10px;
}

/*projects*/

div#outerbox {
  margin:auto;
  max-width: 100%;
  min-width: 40%;
  padding: 1rem 2rem;
  background-color: var(--prussian);
  color: var(--prussian);
  flex-direction: column;
  display: flex;

}

div#outerbox h2{
  text-align: center;
  padding-top: 1.2rem;
  color: var(--honey);
  min-width: 500px;
}

div#midbox{
  margin: 2rem 4rem;
  background-color:var(--honey);
  display: flex;
  justify-content: space-evenly;
  border-radius: 2rem;
  min-height: 300px;
  padding: 1rem;
}

div#innerbox{
  display: flex;
  align-items: center;
  color: var(--darkgrey);
  max-width: 50%;
  padding: 0.5rem;
}

a{
  display: flex;
  justify-content: center;
}
div#innerbox img{
  max-width: 80%;
}
